### STS ###
.classpath
.factorypath
.project
.settings/**
.sts4-cache/**



### Maven Project ###
target/



### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/



### VS Code ###
.vscode/
